*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

.pb {
    background: url("img") center no-repeat;
    background-size: cover;
	background-color: black;
}
.head1 {
    color: rgb(255, 255, 255);
     font-size: 1.7rem;
     font-family: 'Poppins', sans-serif;
     text-transform: uppercase;
     font-weight: 900;
     letter-spacing: .5rem;
     background-color: #000;
 }


:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: #000000;
	--main-color: #000000;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}


.titulocard{
text-align: center;
color: white;
font-size: 4vh;

}

.body11{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 100%;
font-size: 16px;
line-height: 1.5;
background: rgb(0, 0, 0);
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;

}

footer{
	text-align: center;
	color: #09ff00f5;
	background-color: #000;
}

.body222{
	background-image: url(./img/iguana-306397.png);
}

.site-container{
	margin: 2rem auto;
	max-width: calc(100% - 80px);

}

.article-container{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(265px, 1fr));
	gap: 2rem;
}

.article-figue{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.article-figue img{
	max-width: 100%;
	height: auto;
	border-radius: 20px 20px 0 0;
}

.article-card{
	background: rgba(0, 0, 0, 0.829);
	border-radius: 20px;
	transition: 0.3s;
}

.article-card:hover{
	box-shadow: 0 4px 20px 0 #09ff0054;
	cursor: pointer;
}

.article-content{
	padding: 2rem;
}

.article-content .card-category{
	font-size: 0.975rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 600;
	color: #09ff00f5;
	display: block;
	text-decoration: none;
text-align: center;
}

.article-content .card-excerpt{
	font-size: 1rem;
	line-height: 1.5rem;
color: rgb(255, 255, 255);
margin: 0;
}


header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	transition: ease .40s;
}
.logo{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgb(253, 252, 252);
	background-color: black;
}
.navbar{
	display: flex;
}
.navbar a{
	color: rgb(255, 255, 255);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	transition: ease .40s;
	background-color: #000;
}
.navbar a:hover{
background-color: #0bff02f5;
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}
#menu-icon{
	color: rgb(252, 247, 247);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
	background-color: rgba(0, 0, 0, 0.945);
}

section{
	padding: 80px 18%;
}
.home{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(./img/crocodile-4527760_1920.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}


header.sticky{
	background: var(--bg-color);
	padding: 10px 18%;
	box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
}
.sticky .logo{
	color: white;
}
.sticky .navbar a{
	color: var(--text-color);
} 







@media (max-width: 1400px){
	header{
		padding: 17px 3%;
		transition: .2s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .2s;
	}
	section{
		padding: 80px 3%;
		transition: .2s;
	}
	:root{
		--big-font: 4.5rem;
	  --h2-font: 2.3rem;
	  --p-font: 1rem;
	  transition: .2s;
	}
}

@media (max-width: 1040px){
	#menu-icon{
		display: block;
	}
	.stick #menu-icon{
		color: var(--text-color);
	}
	.home{
		height: 88vh;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 270px;
		height: 120vh;
		background: #000000;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 30px;
		transition: 0.5s all;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--text-color);
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 12px;
	}
}

@media (max-width: 575px){
	.list{
		width: 100%;
	}
	.newsletter form{
		width: 350px;
	}
	:root{
		--big-font: 3.8rem;
	  --h2-font: 1.8rem;
	  transition: .2s;
	}
	.text{
		text-align: center;
	}
	.home{
		height: 85vh;
		transition: .2s;
	}
}
